/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 2018/07/15, 14:37:40
    Author     : smt-ct024
*/
#main{
    margin-top: 20px;
}
.comiket_block dl {
    height: 85px;
}

.w_30Per {
    width: 30%;
}

.w_40Per {
    width: 40%;
}

.boxWid {
     width: 10%;
}

.dispSeigyoPC, .dispSeigyoPCTr {
    display: table-cell;
}

.dispSeigyoSP {
    display: none;
}

.comiket_box_item_name br {
    display: none;
}

.comiket_box_item_value_input{
    width: 75% !important;
}

@media only screen and (max-width: 980px) {
    .comiket_block dl {
        /*height: 115px;*/
        height: auto;
    }

    .comiket_box_item_value_input {
        /*width: 20% !important;*/
        width: 50% !important;
    }

    .boxWid {
        width: 25% !important;
    }

    .comiket-detail-outbound-collect-date-fr-to,
    .comiket-detail-outbound-delivery-date-fr-to {
        padding-top: 0px;
    }

    .comiket_detail_outbound_collect_date_parts,
    .comiket_detail_inbound_collect_date_parts,
    .comiket_detail_outbound_delivery_date_parts,
    .comiket_detail_inbound_delivery_date_parts {
        width: 45%;
    }

    .comiket_detail_outbound_collect_time_sel,
    .comiket_detail_inbound_delivery_time_sel {
        display: block;
        display: ruby;
    }

    .wb {
        display: block;
    }

    .w_40Per {
        width: 60%;
    }

    .dispSeigyoPC, .dispSeigyoPCTr {
        display: none !important;
    }

    .dispSeigyoSP {
        display: unset;
    }

    .dispSeigyoSP{
        display: inline;
    }

    .comiket_box_item_name br {
        display: inline;
    }
}

body div dl dd .comiket_event_eventsub_select {
    white-space: nowrap;
    float:left;
    margin-right:20px;
    /*margin-top:15px;*/
    vertical-align: middle;
}

.comiket_diplay_none {
    display: none;
}

.comiket_box_item_name {
    width:10px;
    white-space: nowrap;
    padding-top:10px;
}

.comiket_box_item_value {
    text-align: left;
    padding-top:10px;
}

.eventsub_doc_block {
    float:left;
    /*margin-top: -20px;*/
}

.comiket_box_item_value_input {
    width:50%;
}


h4.table_title {
    margin-bottom: 5px;
    font-size:20px;
}


.eventsub_dl_link {
    /*margin-top:10px;*/
}

td.event_eventsub_td_name {
    width:10px;
    white-space: nowrap;
    vertical-align: middle;
}

td.event_eventsub_td_dl_item {
    padding-left: 10px;
    vertical-align: middle;
}



.pc_dl_area {
    display:block;
}

.sp_dl_area {
    display:none;
}

@media only screen and (max-width: 980px) {
    .pc_dl_area {
        display:none;
    }

    .sp_dl_area {
        margin-top:10px;
        display:block;
    }
}

.eventsub_sel {
    display:none;
}

.box_table_td {
    width:60%;
}

.attention_customer_cd {
    /*margin-left: 378px;*/
    margin-left: 0px;
}

@media only screen and (max-width: 608px) {
    .attention_customer_cd {
        margin-left: 0px;
    }
}

.message_flame {
    padding: 20px 15px;
    border: solid 3px #0099ff;
    border-radius: 10px;
    margin-bottom: 1em;
}

.arrow-img{height: 8px !important;float: right;margin-top: 5px;}

.dl_block_conf1{
    box-sizing: border-box;
    width: 100%;
    border: solid 1px #ccc;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}
.conf_regis_move_panel1{
    padding: 13px;
    border: 1px solid #dedbd3;
    background-color: #e6e6e2;
}

.vam { vertical-align: middle; }
.vat { vertical-align: top; }
.dsp-inblck{display: inline-block;}
.fwb{font-weight: bold;}
.lhn{line-height: normal;}

.mt3px{margin-top: 3px;}

.sp_br { display: none;}
.buppan_tbl_td { width: 50%;}
@media screen and (max-width:420px) {
    .sp_br {
        display: block;
    }
    .buppan_tbl_td {
        width: 100%;
    }
}

strong {
    font-weight: bold !important;
}
.incdec-btn{
    background: lightgray;
    border: 1px solid lightgray;
    border-radius: 3px;
    color: white;
    display: -ms-grid;
    display: grid;
}

.service-buppan-item dl dd {
    padding: 1px 10px !important;
}

.dl_block_clr-blue {
    background-color: #d5e8f7 !important;
}

.dl_block_clr-blue dt {
    background-color: #d5e8f7 !important;
}

.clr-rd{
    color:red;
}

.comiket_box_item_value_input {
   width: 25% !important;
}