@charset "utf-8";
@import "mixin.scss";
/*------------------------------------------------------------
	delivery/travel
------------------------------------------------------------*/
#main {
	.titleBox {
		margin-bottom: 23px;
		@include sp {
			margin-bottom: 25px;
		}
	}
	.comImgBox {
		margin-bottom: 82px;
		@include sp {
			margin-bottom: 40px;
		}
		.textBox {
			padding-right: 110px;
			@include sp {
				padding-right: 20px;
			}
		}
	}
	.comTransfer {
		margin-bottom: 47px;
		dl {
			display: flex;
			flex-wrap: wrap;
			dt {
				padding: 25px 5px 20px;
				width: 130px;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				text-align: center;
				position: relative;
				color: #fff;
				font-size: 1.7rem;
				line-height: 1.529;
				box-sizing: border-box;
				font-family: 'Mukta', sans-serif;
				background-color: #5A92E3;
				small {
					font-size: 1.3rem;
				}
				@include sp {
					padding: 25px 0 20px;
					width: 90px;
					font-size: 1.4rem;
					small {
						font-size: 1rem;
					}
				}
				&.dtStyle01 {
					padding-bottom: 55px;
					background-color: #2065C9;
				}
				&.dtStyle02 {
					background-color: #1B519F;
				}
				&.dtStyle03 {
					background-color: #083679;
				}
				.bg01 {
					width: 100%;
					height: 16px;
					display: block;
					position: absolute;
					left: 0;
					top: calc(100% - 9px);
					z-index: 3;
					@include sp {
						top: calc(100% - 8px);
					}
				}
			}
			dd {
				padding: 14px 0 15px 25px;
				width: calc(100% - 130px);
				display: flex;
				flex-direction: column;
				justify-content: center;
				box-sizing: border-box;
				border-top: 2px solid #D8D6E0;
				@include sp {
					padding: 5px 0 5px 15px;
					width: calc(100% - 90px);
				}
				&:last-of-type {
					border-bottom: 2px solid #D8D6E0;
				}
				p {
					margin-bottom: 40px;
					font-size: 1.6rem;
					line-height: 1.9375;
					&:last-child {
						margin-bottom: 0;
					}
					@include sp {
						margin-bottom: 10px;
						font-size: 1.4rem;
						&:last-child {
							margin-bottom: 0;
						}
					}
				}
				.ttl {
					margin-bottom: 15px;
					font-size: 1.9rem;
					font-weight: 700;
					letter-spacing: 0.03em;
					line-height: 1.7368;
					@include sp {
						margin-bottom: 10px;
						font-size: 1.6rem;
					}
				}
				.noteList {
					li {
						padding-left: 1em;
						font-size: 1.3rem;
						line-height: 1.692;
						text-indent: -1em;
						@include sp {
							font-size: 1.1rem;
						}
					}
				}
				.imgBox {
					margin: 5px 0 13px;
					display: flex;
					justify-content: space-between;
					align-items: flex-start;
					flex-direction: row-reverse;
					&.imgBox01 {
						margin-bottom: 6px;
					}
					.phoBox {
						width: 346px;
					}
					.txtBox {
						margin-top: 8px;
						width: 306px;
						p {
							margin-bottom: 18px;
						}
					}
					@include sp {
						margin: 0;
						display: block;
						.phoBox {
							width: auto;
						}
						.txtBox {
							width: auto;
							p {
								margin-bottom: 10px;
							}
						}
					}
				}
			}
		}
	}
	.trading {		
		.headLine03 {
			margin-bottom: 28px;
		}
		.listBox {
			display: flex;
			justify-content: space-between;
			.box {
				width: calc((100% - 70px) / 3);
				.ttl {
					margin-bottom: 12px;
					font-size: 1.9rem;
					font-weight: 700;
					letter-spacing: 0.03em;
					line-height: 1.7368;
					small {
						font-size: 1.3rem;
						letter-spacing: 0.03em;
					}
				}
				.comTextList {
					margin-top: 0;
					li {
						margin-top: 0;
						padding-left: 16px;
						line-height: 2.4;
						&::before {
							top: 15px;
						}
					}
				}
			}
			@include sp {
				display: block;
				.box {
					width: auto;
					&:not(:last-child) {
						margin-bottom: 20px;
					}
					.ttl {
						margin-bottom: 12px;
						font-size: 1.7rem;
						small {
							font-size: 1.1rem;
							letter-spacing: 0.03em;
						}
					}
					.comTextList {
						margin-top: 0;
						li {
							margin-top: 0;
							padding-left: 16px;
							line-height: 1.67;
							&::before {
								top: 8px;
							}
						}
					}
				}
			}
		}
	}
}