@charset "utf-8";
@import "mixin.scss";
/*------------------------------------------------------------
	service/solution/transportation/
------------------------------------------------------------*/
body {
	min-width: inherit;
}
.mainBox {
	margin-bottom: 136px;
	min-width: inherit;
	@include sp {
		margin-bottom: 60px;
	}
}
.comBox {
	width: auto;
	padding: 0 20px;
	max-width: 1240px;
	@include sp {
		padding: 0;
		max-width: inherit;
	}
}
.comContactUs {
	.comBox {
		@include pc {
			padding: 54px 20px 56px;
		}
	}
}
@media (min-width: 897px) and (max-width: 1140px) {
	.comContactUs {
		padding-right: 110px;
		.subBox {
			width: 68%;
			.tel {
				font-size: 1.4rem;
				a {
					font-size: 3.2rem;
				}
			}
			.btn {
				width: 50%;
			}
		}
		.title {
			font-size: 1.4rem;
			span {
				font-size: 3.4rem;
			}
		}
	}
}
@media (min-width: 897px) and (max-width: 1000px) {
	.comContactUs {
		padding-right: 110px;
		.comBox {
			&::before {
				margin-right: 150px;
			}
		}
		.subBox {
			width: 68%;
			.tel {
				font-size: 1.2rem;
				a {
					font-size: 2.5rem;
				}
			}
			.btn {
				width: 50%;
				a {
					font-size: 1.2rem;
				}
			}
		}
		.title {
			font-size: 1.2rem;
			span {
				font-size: 2.4rem;
			}
		}
	}
}
#gFooter {
	.fBox {
		@include pc {
			width: auto;
			padding: 0 20px;
			max-width: 1240px;
		}
	}
}
#conts {
	.titleBox {
		margin-bottom: 42px;
		@include sp {
			margin-bottom: 30px;
		}
	}
	.comImgBox {
		margin-bottom: 58px;
		.textBox {
			dl {
				dd {
					small {
						margin-top: 5px;
						font-size: 1.6rem;
						font-weight: normal;
						@include sp {
							font-size: 1.2rem;
						}
					}
				}
			}
		}
		@media (min-width: 897px) and (max-width: 1000px) {
			flex-wrap: wrap;
			.photoBox {
				margin-bottom: 30px;
				width: 100%;
			}
			.textBox {
				margin-right: 0;
				width: 100%;
			}
		}
	}
}