@charset "utf-8";
@import "mixin.scss";
/*------------------------------------------------------------
	business/install/setting/led
------------------------------------------------------------*/
#main {
	.titleBox {
		margin-bottom: 68px;
		@include sp {
			margin-bottom: 25px;
		}
	}
	.comImgBox {
		margin-bottom: 64px;
		@include sp {
			margin-bottom: 40px;
		}
		.textBox {
			padding: 52px 110px 53px 48px;
			dl {
				dd {
					line-height: 1.2;
				}
			}
			@include sp {
				padding: 20px;
			}
		}
	}
	.comTransfer {
		margin-bottom: 40px;
		.imgBox {
			margin-bottom: 18px;
			align-items: flex-start;
			.textBox {
				width: calc(100% - 382px);
				dl {
					dt:not(:last-of-type),dd:not(:last-of-type) {
						margin-bottom: 17px;
					}
				}
				p {
					margin-bottom: 28px;
					font-size: 1.8rem;
					font-weight: 700;
					letter-spacing: 0.05em;
					line-height: 1.5;
				}
			}
		}
		.note {
			font-size: 1.6rem;
			font-weight: 500;
			letter-spacing: 0.05em;
			line-height: 1.6875;
			@include sp {
				margin-bottom: 25px;
			}
		}
	}	
	.trading {
		h2 {
			margin-bottom: 37px;
			@include sp {
				margin-bottom: 25px;
			}
		}
	}
}