@charset "utf-8";
@import "mixin.scss";
/*------------------------------------------------------------
	business/install/conditioner
------------------------------------------------------------*/
#main {
	.titleBox {
		margin-bottom: 68px;
		@include sp {
			margin-bottom: 25px;
		}
	}
	.comImgBox {
		margin-bottom: 65px;
		@include sp {
			margin-bottom: 40px;
		}
		.textBox {
			padding-right: 110px;
			@include sp {
				padding-right: 20px;
			}
		}
	}
	.comTransfer {
		margin-bottom: 40px;
		.text {
			margin-bottom: 30px;
			@include sp {
				margin-bottom: 25px;
			}
		}
		.imgBox {
			align-items: flex-start;
			.textBox {
				// width: calc(100% - 382px);
				p {
					margin-bottom: 21px;
					font-size: 1.9rem;
					font-weight: 700;
					letter-spacing: 0.03em;
					line-height: 1.5;
				}
			}
		}
	}	
	.trading {
		h2 {
			margin-bottom: 37px;
			@include sp {
				margin-bottom: 25px;
			}
		}
	}
}