/*------------------------------------------------------------
	business/moving/individual
------------------------------------------------------------*/
#main .titleBox {
  margin-bottom: 51px;
}
@media all and (max-width: 896px) {
  #main .titleBox {
    margin-bottom: 30px;
  }
}
#main .comImgBox {
  margin-bottom: 80px;
}
#main .comImgBox .textBox {
  padding-right: 110px;
}
@media all and (max-width: 896px) {
  #main .comImgBox {
    margin-bottom: 40px;
  }
  #main .comImgBox .textBox {
    padding-right: 20px;
  }
}
#main .ttlDl {
  margin-bottom: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media all and (max-width: 896px) {
  #main .ttlDl {
    display: block;
  }
}
#main .ttlDl dt {
  width: 146px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: 0.01em;
  border-radius: 5px;
  background-color: #1B519F;
}
#main .ttlDl dt .num {
  margin-left: 3px;
  font-size: 4.5rem;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}
@media all and (max-width: 896px) {
  #main .ttlDl dt {
    margin-bottom: 15px;
    width: auto;
    font-size: 1.4rem;
  }
  #main .ttlDl dt .num {
    font-size: 3rem;
  }
}
#main .ttlDl dd {
  width: calc(100% - 167px);
}
@media all and (max-width: 896px) {
  #main .ttlDl dd {
    width: auto;
  }
}
#main .ttlDl dd .ttl {
  margin-bottom: 3px;
  color: #1B519F;
  font-size: 2.8rem;
  font-weight: 500;
  line-height: 1.39;
  letter-spacing: 0.03em;
  -webkit-font-feature-settings: normal;
          font-feature-settings: normal;
}
@media all and (max-width: 896px) {
  #main .ttlDl dd .ttl {
    font-size: 1.8rem;
  }
}
#main .ttlDl dd p {
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 1.82;
  -webkit-font-feature-settings: "palt";
          font-feature-settings: "palt";
}
@media all and (max-width: 896px) {
  #main .ttlDl dd p {
    font-size: 1.4rem;
  }
}
#main .textList {
  margin-top: -25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media all and (max-width: 896px) {
  #main .textList {
    margin-top: 0;
    display: block;
  }
}
#main .textList li {
  margin-top: 25px;
  padding: 22px 0 18px;
  width: 437px;
  border-radius: 5px;
  border: 1px solid #D8D6E0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media all and (max-width: 896px) {
  #main .textList li {
    margin: 0 0 25px;
    width: auto;
  }
  #main .textList li:last-of-type {
    margin-bottom: 0;
  }
}
#main .textList li .pho {
  margin-bottom: 20px;
  text-align: center;
}
#main .textList li .pho img {
  height: 128px;
}
@media all and (max-width: 896px) {
  #main .textList li .pho img {
    height: auto;
  }
}
#main .textList li .ttl {
  margin-bottom: 18px;
  padding: 12px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.9rem;
  font-weight: 700;
  line-height: 1.42;
  letter-spacing: 0.03em;
  background-color: #F2F3F9;
}
@media all and (max-width: 896px) {
  #main .textList li .ttl {
    font-size: 1.5rem;
  }
}
#main .textList li p {
  text-align: center;
  padding: 0 15px 0 23px;
}
#main .textList li p span {
  min-width: 300px;
  display: inline-block;
  line-height: 1.67;
  text-align: left;
  vertical-align: top;
}
@media all and (max-width: 896px) {
  #main .textList li p span {
    min-width: inherit;
  }
}
#main .area {
  margin-bottom: 85px;
}
@media all and (max-width: 896px) {
  #main .area {
    margin-bottom: 40px;
  }
}
#main .area:last-of-type {
  margin-bottom: 0;
}
#main .area .text {
  margin-bottom: 24px;
  font-size: 1.6rem;
  line-height: 1.94;
}
@media all and (max-width: 896px) {
  #main .area .text {
    font-size: 1.4rem;
  }
}
#main .area.area01 .ttlDl {
  margin-bottom: 26px;
}
#main .area.area01 .textList li:last-of-type {
  border: none;
}
@media all and (max-width: 896px) {
  #main .area.area01 .textList li:last-of-type {
    padding-top: 0;
  }
  #main .area.area01 .textList li:last-of-type p {
    margin-top: 0;
    padding: 0;
  }
}
#main .area.area01 .comBtn {
  position: relative;
}
#main .area.area01 .comBtn a {
  padding: 17px 10px;
  display: block;
  position: relative;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 400;
  letter-spacing: 0.1em;
  text-align: center;
  border-radius: 50px;
  background-color: #1B519F;
  outline: none;
  overflow: hidden;
  width: 450px;
  margin: 0 auto;
}
@media all and (max-width: 896px) {
  #main .area.area01 .comBtn a {
    font-size: 1.65rem;
    width: 100%;
  }
}
#main .area.area01 .comBtn a::before {
  content: "";
  position: absolute;
  top: 0;
  left: -75%;
  width: 50%;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0.3)));
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
  -webkit-transform: skewX(-25deg);
          transform: skewX(-25deg);
}
#main .area.area01 .comBtn a:hover::before {
  -webkit-animation: shine 0.7s;
  animation: shine 0.7s;
}
#main .area.area01 > p {
  margin-top: 26px;
}