/*------------------------------------------------------------
	business/moving/transfer
------------------------------------------------------------*/
.mainBox {
  margin-bottom: 107px;
}
@media all and (max-width: 896px) {
  .mainBox {
    margin-bottom: 60px;
  }
}

#conts .titleBox {
  margin-bottom: 51px;
}
@media all and (max-width: 896px) {
  #conts .titleBox {
    margin-bottom: 30px;
  }
}
#conts .area {
  margin-bottom: 103px;
}
@media all and (max-width: 896px) {
  #conts .area {
    margin-bottom: 60px;
  }
}
#conts .area:last-of-type {
  margin-bottom: 0;
}
#conts .benefits {
  margin-bottom: 81px;
}
@media all and (max-width: 896px) {
  #conts .benefits {
    margin-bottom: 50px;
  }
}
#conts .benefits .text {
  margin-bottom: 36px;
  font-size: 1.6rem;
  line-height: 1.94;
}
@media all and (max-width: 896px) {
  #conts .benefits .text {
    font-size: 1.3rem;
  }
}
#conts .benefits .textList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media all and (max-width: 896px) {
  #conts .benefits .textList {
    display: block;
  }
}
#conts .benefits .textList li {
  width: 420px;
}
@media all and (max-width: 896px) {
  #conts .benefits .textList li {
    margin-bottom: 40px;
    width: auto;
  }
  #conts .benefits .textList li:last-of-type {
    margin-bottom: 0;
  }
}
#conts .benefits .textList li .ttl {
  padding: 11px 10px;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: 0.03em;
  text-align: center;
  background-color: #302F31;
}
@media all and (max-width: 896px) {
  #conts .benefits .textList li .ttl {
    font-size: 1.3rem;
  }
}
#conts .benefits .textList li table {
  width: 100%;
  border-collapse: collapse;
}
#conts .benefits .textList li table tr.trStyle01 th {
  color: #fff;
  position: relative;
  background-color: #1B519F;
  border-left-color: #1B519F;
}
#conts .benefits .textList li table tr.trStyle01 th::before {
  width: 31px;
  height: 71px;
  position: absolute;
  left: -45px;
  top: 31px;
  background: url(/img/service/moving/transfer/bg01.png) no-repeat center center/cover;
  content: "";
}
@media all and (max-width: 896px) {
  #conts .benefits .textList li table tr.trStyle01 th::before {
    width: 20px;
    height: 47px;
    left: -25px;
  }
}
#conts .benefits .textList li table tr.trStyle01 td {
  position: relative;
}
#conts .benefits .textList li table tr.trStyle01 td::before {
  width: calc(100% + 2px);
  height: 100%;
  position: absolute;
  left: -1px;
  top: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 4px solid #1B519F;
  content: "";
}
#conts .benefits .textList li table tr.trStyle01 td .txtList li {
  font-weight: 700;
}
#conts .benefits .textList li table tr.trStyle01 td .txtList li::before {
  background-color: #1B519F;
}
#conts .benefits .textList li table th,
#conts .benefits .textList li table td {
  padding: 20px 10px;
  width: 35.5%;
  border: 1px solid #B7B7C7;
  background-color: #F2F3F9;
  vertical-align: middle;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media all and (max-width: 896px) {
  #conts .benefits .textList li table th,
#conts .benefits .textList li table td {
    font-size: 1.3rem;
  }
}
@media all and (max-width: 374px) {
  #conts .benefits .textList li table th,
#conts .benefits .textList li table td {
    padding: 20px 5px;
    font-size: 1rem;
  }
}
#conts .benefits .textList li table th {
  padding: 20px 5px;
  line-height: 1.38;
  font-size: 1.6rem;
}
@media all and (max-width: 896px) {
  #conts .benefits .textList li table th {
    font-size: 1.3rem;
  }
}
@media all and (max-width: 374px) {
  #conts .benefits .textList li table th {
    font-size: 1rem;
  }
}
#conts .benefits .textList li table td {
  padding: 14px 20px;
  width: 64.5%;
  background-color: #fff;
}
@media all and (max-width: 896px) {
  #conts .benefits .textList li table td {
    padding: 10px;
  }
}
#conts .benefits .textList li table td .txtList li {
  margin-bottom: 2px;
  padding-left: 15px;
  width: auto;
  text-align: left;
  position: relative;
  font-size: 1.6rem;
}
@media all and (max-width: 896px) {
  #conts .benefits .textList li table td .txtList li {
    font-size: 1.3rem;
  }
}
@media all and (max-width: 374px) {
  #conts .benefits .textList li table td .txtList li {
    font-size: 1rem;
  }
}
#conts .benefits .textList li table td .txtList li.list01 {
  color: #D0D0D0;
}
#conts .benefits .textList li table td .txtList li.list01::before {
  background-color: #F2F3F9;
}
#conts .benefits .textList li table td .txtList li:last-of-type {
  margin-bottom: 0;
}
#conts .benefits .textList li table td .txtList li::before {
  width: 7px;
  height: 7px;
  position: absolute;
  left: 0;
  top: 11px;
  border-radius: 50%;
  background-color: #B7B7C7;
  content: "";
}
@media all and (max-width: 896px) {
  #conts .benefits .textList li table td .txtList li::before {
    top: 9px;
  }
}
#conts .service {
  margin-bottom: 80px;
}
#conts .service h2 {
  margin-bottom: 22px;
}
#conts .service .text {
  margin-bottom: 39px;
  font-size: 1.6rem;
}
@media all and (max-width: 896px) {
  #conts .service .text {
    margin-bottom: 25px;
    font-size: 1.3rem;
  }
}
#conts .service .photoList {
  margin-top: -50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media all and (max-width: 896px) {
  #conts .service .photoList {
    margin-top: -30px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
#conts .service .photoList li {
  margin: 50px 33px 0 0;
  width: 200px;
}
@media all and (max-width: 896px) {
  #conts .service .photoList li {
    margin: 30px 0 0;
    width: calc((100% - 15px) / 2);
  }
}
#conts .service .photoList li:nth-of-type(4n) {
  margin-right: 0;
}
#conts .service .photoList li .pho {
  margin-bottom: 11px;
  padding-top: 6px;
  border-radius: 5px;
  border: 1px solid #D8D6E0;
  text-align: center;
}
#conts .service .photoList li .pho img {
  height: 151px;
}
@media all and (max-width: 896px) {
  #conts .service .photoList li .pho img {
    height: 70px;
  }
}
#conts .service .photoList li .txtBox .ttl {
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.9rem;
  font-weight: 700;
  line-height: 1.32;
  letter-spacing: 0.03em;
  text-align: center;
  border-bottom: 1px solid #000;
}
@media all and (max-width: 896px) {
  #conts .service .photoList li .txtBox .ttl {
    font-size: 1.4rem;
  }
}
#conts .service .photoList li .txtBox p {
  line-height: 1.67;
}
@media all and (max-width: 896px) {
  #conts .service .photoList li .txtBox p {
    font-size: 1.3rem;
  }
}
#conts .product {
  margin-bottom: 80px;
}
@media all and (max-width: 896px) {
  #conts .product {
    margin-bottom: 50px;
  }
}
#conts .product h2 {
  margin-bottom: 27px;
}
#conts .product .linkList li {
  margin-bottom: 48px;
}
@media all and (max-width: 896px) {
  #conts .product .linkList li {
    margin-bottom: 30px;
  }
}
#conts .product .linkList li:last-of-type {
  margin-bottom: 0;
}
#conts .product .linkList li a {
  display: block;
}
@media all and (min-width: 897px) {
  #conts .product .linkList li a:hover {
    opacity: 0.7;
  }
}
#conts .product .linkList li a .imgBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media all and (max-width: 896px) {
  #conts .product .linkList li a .imgBox {
    display: block;
  }
}
#conts .product .linkList li a .imgBox .photoBox {
  margin-top: 10px;
  width: 288px;
}
#conts .product .linkList li a .imgBox .photoBox img {
  width: 100%;
}
@media all and (max-width: 896px) {
  #conts .product .linkList li a .imgBox .photoBox {
    margin: 0 0 20px;
    width: auto;
  }
}
#conts .product .linkList li a .imgBox .textBox {
  width: 567px;
}
@media all and (max-width: 896px) {
  #conts .product .linkList li a .imgBox .textBox {
    width: auto;
  }
}
#conts .product .linkList li a .imgBox .textBox h3 {
  margin-bottom: 22px;
  padding-bottom: 17px;
  position: relative;
  font-size: 1.9rem;
  line-height: 1.74;
  letter-spacing: 0.03em;
  background: url(/img/common/icon21.png) no-repeat right 7px top 16px/10px auto;
  border-bottom: 1px solid #D8D6E0;
}
#conts .product .linkList li a .imgBox .textBox h3::before {
  width: 26px;
  height: 1px;
  position: absolute;
  right: 0;
  bottom: -1px;
  background-color: #1B519F;
  content: "";
}
@media all and (max-width: 896px) {
  #conts .product .linkList li a .imgBox .textBox h3 {
    font-size: 1.5rem;
  }
}
#conts .product .linkList li a .imgBox .textBox p {
  font-size: 1.6rem;
  line-height: 1.94;
}
@media all and (max-width: 896px) {
  #conts .product .linkList li a .imgBox .textBox p {
    font-size: 1.4rem;
  }
}
#conts .trading.trad01 {
  margin-bottom: 71px;
}
@media all and (max-width: 896px) {
  #conts .trading.trad01 {
    margin-bottom: 50px;
  }
}
#conts .trading .textList {
  margin-top: -11px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media all and (max-width: 896px) {
  #conts .trading .textList {
    margin-top: 0;
    display: block;
  }
}
#conts .trading .textList li {
  margin-top: 11px;
  padding-left: 15px;
  width: 420px;
  position: relative;
  line-height: 1.67;
}
@media all and (max-width: 896px) {
  #conts .trading .textList li {
    margin: 0 0 11px;
    width: auto;
    font-size: 1.3rem;
  }
  #conts .trading .textList li:last-of-type {
    margin-bottom: 0;
  }
}
#conts .trading .textList li:nth-of-type(2n) {
  margin-right: -10px;
  width: 430px;
}
@media all and (max-width: 896px) {
  #conts .trading .textList li:nth-of-type(2n) {
    margin-right: 0;
    width: auto;
  }
}
#conts .trading .textList li::after {
  width: 7px;
  height: 7px;
  position: absolute;
  left: 0;
  top: 10px;
  border-radius: 50%;
  background-color: #B7B7C7;
  content: "";
}
@media all and (max-width: 896px) {
  #conts .trading .textList li::after {
    top: 7px;
  }
}
#conts .flow h2 {
  margin-bottom: 30px;
}
#conts .flow dl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
#conts .flow dl dt {
  padding: 25px 5px 17px;
  width: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  position: relative;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.065em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Mukta", sans-serif;
  background-color: #5A92E3;
}
@media all and (max-width: 896px) {
  #conts .flow dl dt {
    width: 90px;
    font-size: 1.4rem;
  }
}
#conts .flow dl dt.dtStyle01 {
  background-color: #2065C9;
}
#conts .flow dl dt.dtStyle02 {
  background-color: #1B519F;
}
#conts .flow dl dt.dtStyle03 {
  background-color: #083679;
}
#conts .flow dl dt.dtStyle04 {
  background-color: #032658;
}
#conts .flow dl dt span {
  margin-top: -3px;
  font-size: 3.7rem;
  letter-spacing: 0;
  font-family: "Roboto", sans-serif;
}
@media all and (max-width: 896px) {
  #conts .flow dl dt span {
    font-size: 2.6rem;
  }
}
#conts .flow dl dt .bg01 {
  width: 100%;
  height: 16px;
  position: absolute;
  left: 0;
  top: calc(100% - 12px);
  z-index: 3;
}
@media all and (max-width: 896px) {
  #conts .flow dl dt .bg01 {
    top: calc(100% - 10px);
  }
}
#conts .flow dl dd {
  padding: 5px 25px;
  width: calc(100% - 130px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-top: 2px solid #D8D6E0;
}
@media all and (max-width: 896px) {
  #conts .flow dl dd {
    padding: 5px 15px;
    width: calc(100% - 90px);
  }
}
#conts .flow dl dd:last-of-type {
  border-bottom: 2px solid #D8D6E0;
}
#conts .flow dl dd .txtList {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media all and (max-width: 896px) {
  #conts .flow dl dd .txtList {
    display: block;
  }
}
#conts .flow dl dd .txtList li {
  margin-right: 39px;
  padding-left: 15px;
  position: relative;
  font-size: 1.9rem;
  font-weight: 700;
  line-height: 1.74;
  letter-spacing: 0.03em;
}
@media all and (max-width: 896px) {
  #conts .flow dl dd .txtList li {
    margin: 0;
    font-size: 1.5rem;
  }
}
#conts .flow dl dd .txtList li:last-of-type {
  margin-right: 0;
}
#conts .flow dl dd .txtList li small {
  font-size: 1.6rem;
}
@media all and (max-width: 896px) {
  #conts .flow dl dd .txtList li small {
    font-size: 1.4rem;
  }
}
#conts .flow dl dd .txtList li::before {
  width: 7px;
  height: 7px;
  position: absolute;
  left: 0;
  top: 15px;
  border-radius: 50%;
  background-color: #B7B7C7;
  content: "";
}
@media all and (max-width: 896px) {
  #conts .flow dl dd .txtList li::before {
    top: 11px;
  }
}