/*------------------------------------------------------------
	business_ev
------------------------------------------------------------*/
#gHeader {
  padding: 23px 0;
}
#gHeader .hBox {
  padding: 0px 203px 0 38px;
}
@media all and (max-width: 896px) {
  #gHeader {
    padding: 0;
  }
  #gHeader .hBox {
    padding: 8px 71px 0 30px;
  }
}
@media (min-width: 897px) and (max-width: 1022px) {
  #gHeader .hBox {
    padding-left: 23px;
  }
}

.menu {
  top: 23px;
  right: 33px;
}
@media all and (max-width: 896px) {
  .menu {
    top: 8px;
    right: 8px;
  }
}

#main .pageTitle {
  margin-bottom: 0;
}
#main .headLine06 {
  margin-bottom: 28px;
  padding-top: 31px;
}
#main .headLine06::before {
  width: 236px;
}
#main .text01 {
  font-size: 1.6rem;
}
#main .textBox01 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #1B519F;
}
#main .textBox01 .title {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 170px;
  height: 96px;
  color: #1B519F;
  font-size: 1.3rem;
  font-weight: 700;
  text-align: center;
  background-color: #1B519F;
}
#main .textBox01 .title span {
  margin-top: 2px;
  padding: 0px 10px 1px;
  border-radius: 25px;
  background-color: #fff;
}
#main .textBox01 .title::before {
  width: 18px;
  height: 32px;
  position: absolute;
  right: -17px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: url(/img/service/install/setting/ev/icon01.png) no-repeat right center/18px;
  content: "";
}
#main .textBox01 .text02 {
  padding: 2px 37px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 2rem;
  font-weight: 700;
}
@media all and (max-width: 896px) {
  #main .textBox01 {
    display: block;
  }
  #main .textBox01 .title {
    width: auto;
    height: 60px;
  }
  #main .textBox01 .title::before {
    display: none;
  }
  #main .textBox01 .text02 {
    padding: 15px;
    font-size: 1.5rem;
  }
}
#main .textUl li {
  font-size: 1.3rem;
  line-height: 1.69;
}
#main .mainVisual {
  margin-bottom: 20px;
  position: relative;
}
#main .mainVisual .titleBox {
  margin-bottom: 20px;
  position: relative;
  height: 600px;
  background: url(/img/service/install/setting/ev/main_img.jpg) no-repeat center center/cover;
}
#main .mainVisual .titleBox h2 {
  width: 955px;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
#main .mainVisual ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#main .mainVisual ul li {
  width: 480px;
}
#main .mainVisual ul li a {
  padding: 15px 15px 13px;
  display: block;
  color: #1B519F;
  font-size: 1.6rem;
  font-weight: 700;
  text-align: center;
  border: 1px solid #1B519F;
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#main .mainVisual ul li a span {
  padding-right: 21px;
  background: url(/img/common/icon54.png) no-repeat right top 10px/11px;
}
#main .mainVisual ul li a:hover {
  opacity: 0.7;
}
#main .mainVisual ul li:last-child a {
  border-left: none;
  border-radius: 0 30px 30px 0;
}
@media all and (max-width: 896px) {
  #main .mainVisual .titleBox {
    background-position: left center;
  }
  #main .mainVisual .titleBox h2 {
    width: 97%;
  }
  #main .mainVisual ul {
    margin: 0 20px;
  }
  #main .mainVisual ul li {
    width: 50%;
  }
  #main .mainVisual ul li a {
    padding: 15px 5px 13px;
    font-size: 1.2rem;
  }
  #main .mainVisual ul li a span {
    background-position: right center;
  }
}
#main .titleBox {
  margin-bottom: 71px;
  position: relative;
  height: 707px;
  background: url(/img/service/install/setting/ev/sec01_bg01.jpg) no-repeat center center/cover;
}
#main .titleBox .textBox {
  padding: 80px 97px 74px 144px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #fff;
}
#main .titleBox .textBox h3 {
  margin-bottom: 38px;
  width: 318px;
}
#main .titleBox .textBox .title {
  margin-bottom: 33px;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.62;
  letter-spacing: 0.03em;
}
#main .titleBox .textBox p {
  line-height: 2;
}
@media all and (max-width: 896px) {
  #main .titleBox {
    margin-bottom: 50px;
  }
  #main .titleBox .textBox {
    padding: 26px;
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  #main .titleBox .textBox h3 {
    width: 230px;
  }
  #main .titleBox .textBox .title {
    font-size: 2rem;
  }
}
#main .sec01 {
  margin-bottom: 110px;
}
#main .sec01 .comBox .photoArea {
  margin-bottom: 80px;
}
#main .sec01 .comBox .photoArea p {
  margin-bottom: 50px;
  font-size: 2.9rem;
  line-height: 1.65;
  letter-spacing: 0.05em;
  text-align: center;
  font-family: "Noto Serif JP", serif;
}
#main .sec01 .comBox .charg {
  margin-bottom: 79px;
}
#main .sec01 .comBox .charg p {
  margin-bottom: 27px;
}
#main .sec01 .comBox .charg .imgBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#main .sec01 .comBox .charg .imgBox .textBox {
  width: 580px;
}
#main .sec01 .comBox .charg .imgBox .textBox table {
  margin-bottom: 19px;
  width: 100%;
  border: 1px solid #1B519F;
  border-collapse: collapse;
}
#main .sec01 .comBox .charg .imgBox .textBox table thead tr th,
#main .sec01 .comBox .charg .imgBox .textBox table thead tr td, #main .sec01 .comBox .charg .imgBox .textBox table tbody tr th,
#main .sec01 .comBox .charg .imgBox .textBox table tbody tr td {
  padding: 10px 10px 8px;
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: 0.05em;
  text-align: center;
}
#main .sec01 .comBox .charg .imgBox .textBox table thead tr th, #main .sec01 .comBox .charg .imgBox .textBox table tbody tr th {
  width: 20.5%;
  color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-right: 1px solid #fff;
  background-color: #1B519F;
}
#main .sec01 .comBox .charg .imgBox .textBox table thead tr th:nth-child(2), #main .sec01 .comBox .charg .imgBox .textBox table tbody tr th:nth-child(2) {
  width: 54%;
}
#main .sec01 .comBox .charg .imgBox .textBox table thead tr th:last-child, #main .sec01 .comBox .charg .imgBox .textBox table tbody tr th:last-child {
  width: 25.5%;
  border-right: none;
}
#main .sec01 .comBox .charg .imgBox .textBox table thead tr td, #main .sec01 .comBox .charg .imgBox .textBox table tbody tr td {
  padding: 24px 15px 23px;
  border-right: 1px solid #1B519F;
}
#main .sec01 .comBox .charg .imgBox .textBox table thead tr .cor01, #main .sec01 .comBox .charg .imgBox .textBox table tbody tr .cor01 {
  background-color: #F2F3F9;
}
#main .sec01 .comBox .charg .imgBox .textBox table thead tr .cor02, #main .sec01 .comBox .charg .imgBox .textBox table tbody tr .cor02 {
  background-color: #F2F3F9;
}
#main .sec01 .comBox .charg .imgBox .textBox table thead tr .cor03, #main .sec01 .comBox .charg .imgBox .textBox table tbody tr .cor03 {
  background-color: #E4E7FC;
}
#main .sec01 .comBox .charg .imgBox .textBox p {
  margin-bottom: 0;
  padding-left: 1em;
  text-indent: -1em;
  font-size: 1.3rem;
  line-height: 1.69;
}
#main .sec01 .comBox .charg .imgBox .photoBox {
  width: 580px;
}
#main .sec01 .cons {
  margin-bottom: 80px;
}
#main .sec01 .cons .text01 {
  margin-bottom: 26px;
}
#main .sec01 .cons .photo {
  margin-bottom: 30px;
}
#main .sec01 .facility {
  margin-bottom: 80px;
}
#main .sec01 .facility .text01 {
  margin-bottom: 36px;
}
#main .sec01 .facility .imgBox {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#main .sec01 .facility .imgBox ul {
  width: 580px;
}
#main .sec01 .facility .imgBox ul li {
  margin-bottom: 24px;
  padding-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #DEDDE2;
}
#main .sec01 .facility .imgBox ul li .step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #1B519F;
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: 0.04em;
  line-height: 1;
  font-family: "Roboto", sans-serif;
}
#main .sec01 .facility .imgBox ul li .step span {
  margin: -7px 0 0 4px;
  font-size: 3rem;
}
#main .sec01 .facility .imgBox ul li .textBox {
  margin: -11px 0 0 15px;
}
#main .sec01 .facility .imgBox ul li .textBox .ttl {
  margin-bottom: 4px;
  color: #1B519F;
  font-size: 2rem;
  letter-spacing: 0.03em;
  line-height: 1.95;
}
#main .sec01 .facility .imgBox ul li .textBox p {
  font-size: 1.6rem;
  line-height: 1.5;
}
#main .sec01 .facility .imgBox ul li:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: none;
}
#main .sec01 .facility .imgBox .photoBox {
  margin-top: -14px;
  width: 580px;
}
#main .sec01 .facility .imgBox .photoBox p {
  margin-bottom: 6px;
  font-size: 1.9rem;
  font-weight: 700;
  letter-spacing: 0.03em;
}
#main .sec01 .equipment,
#main .sec01 .subsidy {
  margin-bottom: 77px;
}
#main .sec01 .equipment .text01,
#main .sec01 .subsidy .text01 {
  margin-bottom: 52px;
}
#main .sec01 .equipment .title,
#main .sec01 .subsidy .title {
  margin-bottom: 16px;
  font-size: 1.9rem;
  font-weight: 700;
  letter-spacing: 0.03em;
}
#main .sec01 .equipment .photo,
#main .sec01 .subsidy .photo {
  margin-bottom: 17px;
}
#main .sec01 .equipment .note,
#main .sec01 .subsidy .note {
  font-size: 1.3rem;
}
#main .sec01 .subsidy {
  margin-bottom: 80px;
}
#main .sec01 .subsidy .text01 {
  margin-bottom: 59px;
  line-height: 1.93;
}
#main .sec01 .subsidy .photo {
  margin-bottom: 18px;
}
#main .sec01 .subsidy .textUl {
  margin-bottom: 58px;
}
#main .sec01 .subsidy .textBox01 .title {
  margin-bottom: 0;
  font-size: 1.3rem;
}
#main .sec01 .cost {
  margin-bottom: 78px;
}
#main .sec01 .cost .headLine06 {
  padding-top: 37px;
}
#main .sec01 .cost .text01 {
  margin-bottom: 56px;
}
#main .sec01 .cost .photo {
  margin-bottom: 19px;
}
#main .sec01 .cost .textUl li {
  padding-left: 2em;
  text-indent: -2em;
}
#main .sec01 .solving {
  margin-bottom: 78px;
}
#main .sec01 .solving .text01 {
  margin-bottom: 56px;
}
#main .sec01 .solving .headLine03 {
  margin-bottom: 28px;
}
#main .sec01 .solving .text02 {
  margin-bottom: 54px;
  font-size: 1.6rem;
}
#main .sec01 .solving .photo {
  margin-bottom: 80px;
}
#main .sec01 .solving .h5Ttl01 {
  margin-bottom: 30px;
}
#main .sec01 .solving .title {
  margin-bottom: 16px;
  font-size: 1.6rem;
  font-weight: 700;
}
#main .sec01 .solving .photo01 {
  margin-bottom: 58px;
}
#main .sec01 .solving .photo02 {
  margin-bottom: 18px;
}
#main .sec01 .solving .textUl li:not(:last-child) {
  margin-bottom: 1px;
}
#main .sec01 .example {
  margin-bottom: 80px;
}
#main .sec01 .example .text01 {
  margin-bottom: 54px;
}
#main .sec01 .example ul {
  margin: -37px 0 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#main .sec01 .example ul li {
  margin-top: 37px;
  width: 580px;
}
#main .sec01 .example ul li p {
  margin-bottom: 5px;
  font-size: 1.8rem;
  font-weight: 700;
  letter-spacing: 0.03em;
}
#main .sec01 .example ul li p span {
  font-size: 1.3rem;
}
#main .sec01 .example .note {
  margin-bottom: 57px;
  font-size: 1.3rem;
  line-height: 1.75;
}
#main .sec01 .ev .headLine06 {
  margin-bottom: 30px;
}
#main .sec01 .ev .comTextDl > dd {
  padding: 27px 25px 6px;
}
#main .sec01 .ev .comTextDl > dd p {
  font-size: 1.6rem;
  line-height: 1.93;
}
@media all and (max-width: 896px) {
  #main .sec01 .comBox .photoArea p {
    font-size: 1.8rem;
  }
  #main .sec01 .comBox .charg .imgBox {
    display: block;
  }
  #main .sec01 .comBox .charg .imgBox .textBox {
    margin-bottom: 30px;
    width: auto;
  }
  #main .sec01 .comBox .charg .imgBox .textBox .tableBox {
    overflow-x: auto;
  }
  #main .sec01 .comBox .charg .imgBox .textBox .tableBox table {
    min-width: 500px;
  }
  #main .sec01 .comBox .charg .imgBox .textBox .tableBox table thead tr th,
#main .sec01 .comBox .charg .imgBox .textBox .tableBox table thead tr td,
#main .sec01 .comBox .charg .imgBox .textBox .tableBox table tbody tr th,
#main .sec01 .comBox .charg .imgBox .textBox .tableBox table tbody tr td {
    font-size: 1.5rem;
  }
  #main .sec01 .comBox .charg .imgBox .photoBox {
    width: auto;
  }
  #main .sec01 .comBox .facility .imgBox {
    display: block;
  }
  #main .sec01 .comBox .facility .imgBox ul {
    margin-bottom: 40px;
    width: auto;
  }
  #main .sec01 .comBox .facility .imgBox ul li .textBox .ttl {
    font-size: 1.8rem;
    line-height: 1.5;
  }
  #main .sec01 .comBox .facility .imgBox .photoBox {
    margin: 0 auto;
    width: auto;
  }
  #main .sec01 .comBox .facility .imgBox .photoBox p {
    font-size: 1.5rem;
  }
  #main .sec01 .comBox .cons .photo {
    overflow-x: scroll;
  }
  #main .sec01 .comBox .cons .photo img {
    min-width: 660px;
  }
  #main .sec01 .comBox .equipment .title,
#main .sec01 .comBox .subsidy .title {
    font-size: 1.5rem;
  }
  #main .sec01 .comBox .equipment .photo,
#main .sec01 .comBox .subsidy .photo {
    overflow-x: scroll;
  }
  #main .sec01 .comBox .equipment .photo img,
#main .sec01 .comBox .subsidy .photo img {
    min-width: 660px;
  }
  #main .sec01 .comBox .example ul {
    margin: 0 auto;
    display: block;
  }
  #main .sec01 .comBox .example ul li {
    margin: 0 auto 30px;
    width: auto;
  }
  #main .sec01 .comBox .example ul li:last-child {
    margin-bottom: 0;
  }
  #main .sec01 .comBox .example ul li p {
    font-size: 1.6rem;
  }
  #main .sec01 .comBox .cost .photo,
#main .sec01 .comBox .cost .photo01,
#main .sec01 .comBox .cost .photo02,
#main .sec01 .comBox .solving .photo,
#main .sec01 .comBox .solving .photo01,
#main .sec01 .comBox .solving .photo02 {
    overflow-x: scroll;
  }
  #main .sec01 .comBox .cost .photo img,
#main .sec01 .comBox .cost .photo01 img,
#main .sec01 .comBox .cost .photo02 img,
#main .sec01 .comBox .solving .photo img,
#main .sec01 .comBox .solving .photo01 img,
#main .sec01 .comBox .solving .photo02 img {
    min-width: 660px;
  }
  #main .sec01 .comBox .ev .comTextDl > dd {
    padding: 20px 10px 30px;
  }
}
#main .sec02 {
  margin-bottom: 110px;
}
#main .sec02 .titleBox {
  height: 670px;
  background-image: url(/img/service/install/setting/ev/sec02_bg01.jpg);
}
#main .sec02 .trouble {
  margin-bottom: 80px;
}
#main .sec02 .trouble .title01 {
  margin-bottom: 51px;
  font-size: 2.9rem;
  line-height: 1.65;
  letter-spacing: 0.05em;
  text-align: center;
  font-family: "Noto Serif JP", serif;
}
#main .sec02 .trouble ul {
  margin: -35px 0 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
#main .sec02 .trouble ul li {
  margin: 35px 45px 0 0;
  width: 370px;
}
#main .sec02 .trouble ul li .phoBox {
  margin-bottom: 17px;
  position: relative;
}
#main .sec02 .trouble ul li .phoBox p {
  width: 110px;
  height: 110px;
  position: absolute;
  top: 15px;
  left: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #1B519F;
  font-size: 2rem;
  font-weight: 900;
  line-height: 1.25;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #1B519F;
  background-color: #fff;
}
#main .sec02 .trouble ul li .txtBox p {
  margin-bottom: 15px;
  font-size: 1.8rem;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.03em;
}
#main .sec02 .trouble ul li .txtBox .txt {
  margin-bottom: 0;
  padding: 19px 20px 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  font-size: 2.4rem;
  font-weight: 700;
  letter-spacing: 0.03em;
  line-height: 1.375;
  text-align: center;
  background-color: #1B519F;
}
#main .sec02 .trouble ul li .txtBox .txt small {
  margin-top: 9px;
  font-size: 1.6rem;
}
#main .sec02 .trouble ul li:nth-child(3n) {
  margin-right: 0;
}
#main .sec02 .should {
  margin-bottom: 80px;
}
#main .sec02 .should .text01 {
  margin-bottom: 63px;
  line-height: 1.93;
}
#main .sec02 .should ul {
  margin: -46px 0 61px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
#main .sec02 .should ul li {
  margin: 46px 45px 0 0;
  padding: 30px 15px 30px;
  width: 370px;
  border: 1px solid #1B519F;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
#main .sec02 .should ul li .ttl01 {
  margin: 0 auto 33px;
  padding: 7px 0 6px;
  width: 104px;
  color: #fff;
  font-size: 1.3rem;
  font-weight: 700;
  border-radius: 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #1B519F;
}
#main .sec02 .should ul li .ttl02 {
  margin-bottom: 40px;
  position: relative;
  color: #1B519F;
  font-size: 2.4rem;
  font-weight: 400;
}
#main .sec02 .should ul li .ttl02::before {
  width: 32px;
  height: 18px;
  position: absolute;
  bottom: -29px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: url(/img/service/install/setting/ev/icon02.png) no-repeat bottom center/32px;
  content: "";
}
#main .sec02 .should ul li p {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.25;
  text-align: center;
}
#main .sec02 .should ul li:nth-child(3n) {
  margin-right: 0;
}
#main .sec02 .should ul li:nth-child(1) {
  padding-top: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #1B519F;
}
#main .sec02 .should ul li:nth-child(1) p {
  color: #fff;
}
#main .sec02 .should ul li:nth-child(1) p span {
  margin-top: 16px;
  font-size: 3.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#main .sec02 .should ul li:last-child .ttl01 {
  margin-bottom: 67px;
}
#main .sec02 .should ul li:last-child .ttl02::before {
  display: none;
}
#main .sec02 .should ul .liStyle01 .ttl01 {
  margin-bottom: 18px;
}
#main .sec02 .should ul .liStyle01 .ttl02 {
  margin-bottom: 41px;
}
#main .sec02 .electricity {
  margin-bottom: 80px;
}
#main .sec02 .electricity .headLine06 {
  margin-bottom: 30px;
}
#main .sec02 .electricity .imgUl {
  margin: -30px 0 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#main .sec02 .electricity .imgUl li {
  margin-top: 30px;
  width: 580px;
}
#main .sec02 .electricity .photo {
  margin-bottom: 39px;
}
#main .sec02 .electricity .textUl {
  margin-bottom: 58px;
}
#main .sec02 .electricity .textUl li:not(:last-child) {
  margin-bottom: 1px;
}
#main .sec02 .lighting {
  margin-bottom: 78px;
}
#main .sec02 .lighting .headLine06 {
  margin-bottom: 36px;
}
#main .sec02 .lighting .imgUl {
  margin: -36px 0 39px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#main .sec02 .lighting .imgUl li {
  margin-top: 36px;
  width: 580px;
}
#main .sec02 .lighting .imgUl li p {
  margin-bottom: 4px;
  font-size: 2.4rem;
  font-weight: 700;
  letter-spacing: 0.03em;
}
#main .sec02 .questions .headLine06 {
  margin-bottom: 30px;
  padding-top: 37px;
}
#main .sec02 .questions .comTextDl > dd {
  padding: 27px 25px 6px;
}
#main .sec02 .questions .comTextDl > dd p {
  font-size: 1.6rem;
  line-height: 1.937;
}
@media all and (max-width: 896px) {
  #main .sec02 .trouble ul {
    margin: 0 auto 30px;
    display: block;
  }
  #main .sec02 .trouble ul li {
    margin: 0 auto 30px;
    width: auto;
  }
  #main .sec02 .trouble ul li:last-child {
    margin-bottom: 0;
  }
  #main .sec02 .trouble ul li .phoBox p {
    width: 80px;
    height: 80px;
    font-size: 1.6rem;
  }
  #main .sec02 .trouble ul li .phoBox .pho img {
    width: 100%;
  }
  #main .sec02 .trouble ul li .txtBox .txt {
    padding: 15px;
    font-size: 2rem;
  }
  #main .sec02 .should ul {
    margin: 0 auto 40px;
    display: block;
  }
  #main .sec02 .should ul li {
    margin: 0 auto 30px;
    width: auto;
  }
  #main .sec02 .should ul li:last-child {
    margin-bottom: 0;
  }
  #main .sec02 .should .photo {
    overflow-x: scroll;
  }
  #main .sec02 .should .photo img {
    min-width: 660px;
  }
  #main .sec02 .electricity .imgUl {
    margin: 0 auto 30px;
    display: block;
  }
  #main .sec02 .electricity .imgUl li {
    margin: 0 auto 30px;
    width: auto;
  }
  #main .sec02 .electricity .imgUl li:last-child {
    margin-bottom: 0;
  }
  #main .sec02 .electricity .photo {
    overflow-x: scroll;
  }
  #main .sec02 .electricity .photo img {
    min-width: 660px;
  }
  #main .sec02 .lighting .imgUl {
    display: block;
  }
  #main .sec02 .lighting .imgUl li {
    margin: 0 auto 30px;
    width: auto;
  }
  #main .sec02 .lighting .imgUl li:last-child {
    margin-bottom: 0;
  }
  #main .sec02 .lighting .imgUl li p {
    font-size: 1.8rem;
  }
  #main .sec02 .questions .comTextDl > dd {
    padding: 20px 10px 30px;
  }
}