/*------------------------------------------------------------
	business/case/solution02
------------------------------------------------------------*/
#conts.solution02 .imgList.towCollumn li {
  width: calc((100% - 35px) / 2);
}
#conts.solution02 table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #b7b7c7;
}
#conts.solution02 table th {
  border: 1px solid #b7b7c7;
  text-align: center;
  background: #f2f3f9;
  padding: 20px;
}
@media all and (max-width: 896px) {
  #conts.solution02 table th {
    width: 100px;
  }
}
#conts.solution02 table td {
  border: 1px solid #b7b7c7;
  padding: 20px;
}
#conts.solution02 table td ul li {
  margin-bottom: 15px;
}
#conts.solution02 table td ul li:last-child {
  margin-bottom: 0;
}
#conts.solution02 table td ul li .b_txt {
  font-weight: bold;
}
#conts.solution02 table td ul li .flx_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  margin-top: 10px;
}
#conts.solution02 table td ul li .flx_box li {
  margin: 0 10px;
}
#conts.solution02 table td ul li .flx_box li img {
  height: 50px;
}
@media all and (max-width: 896px) {
  #conts.solution02 table td ul li .flx_box li {
    margin: 5px 5px;
    width: auto;
  }
  #conts.solution02 table td ul li .flx_box li:last-child {
    width: 100%;
  }
}
@media all and (max-width: 896px) {
  #conts.solution02 table td ul li .flx_box {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
#conts.solution02 table td ul .col_circle {
  color: #1b519f;
  margin-right: 5px;
}