/*------------------------------------------------------------
	ivent
------------------------------------------------------------*/
@media all and (max-width: 896px) {
  #main .pageTitle .topLead {
    margin-right: -30px !important;
  }
}
@media all and (max-width: 374px) {
  #main .pageTitle .topLead {
    margin-right: -20px !important;
  }
}
@media all and (min-width: 897px) {
  #main .mainBox {
    margin-bottom: 126px;
  }
}
#main #conts .titleBox {
  margin-bottom: 42px;
}
@media all and (min-width: 897px) {
  #main #conts .comImgBox {
    margin-bottom: 96px;
  }
}
@media all and (min-width: 897px) {
  #main #conts .comImgBox .textBox {
    padding-right: 120px;
  }
}
#main .merritt .headLine05 {
  margin-bottom: 25px;
}
@media all and (max-width: 896px) {
  #main .merritt .headLine05 {
    font-size: 1.6rem;
  }
}
#main .merritt .text {
  margin-bottom: 32px;
  font-size: 1.6rem;
  line-height: 1.94;
}
@media all and (max-width: 896px) {
  #main .merritt .text {
    font-size: 1.4rem;
  }
}
#main .merritt .textList {
  margin-bottom: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media all and (max-width: 896px) {
  #main .merritt .textList {
    display: block;
  }
}
#main .merritt .textList > li {
  padding-bottom: 39px;
  width: 425px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media all and (max-width: 896px) {
  #main .merritt .textList > li {
    margin-bottom: 30px;
    width: auto;
  }
  #main .merritt .textList > li:last-of-type {
    margin-bottom: 0;
  }
}
#main .merritt .textList > li ul li {
  position: relative;
  padding-left: 15px;
}
#main .merritt .textList > li ul li::before {
  width: 8px;
  height: 8px;
  position: absolute;
  left: 0;
  top: 11px;
  border-radius: 50%;
  background: #B7B7C7;
  content: "";
}
#main .merritt .textList > li .ttl {
  margin-bottom: 24px;
  padding: 7px 15px;
  position: relative;
  color: #1B519F;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.83;
  letter-spacing: 0.03em;
  text-align: center;
  border-bottom: 1px solid #B7B7C7;
}
#main .merritt .textList > li .ttl::after {
  width: 93px;
  height: 2px;
  position: absolute;
  left: 50%;
  bottom: -1px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #1B519F;
  content: "";
}
@media all and (max-width: 896px) {
  #main .merritt .textList > li .ttl {
    font-size: 1.6rem;
  }
}
#main .merritt .textList > li .txtList {
  margin: 0 33px;
}
@media all and (max-width: 896px) {
  #main .merritt .textList > li .txtList {
    margin: 0 20px;
  }
}
#main .merritt .textList > li .txtList li {
  margin-bottom: 11px;
  padding-left: 19px;
  position: relative;
  line-height: 1.67;
}
#main .merritt .textList > li .txtList li:last-of-type {
  margin-bottom: 0;
}
#main .merritt .textList > li .txtList li::before {
  width: 7px;
  height: 7px;
  position: absolute;
  left: 0;
  top: 10px;
  border-radius: 50%;
  background-color: #B7B7C7;
  content: "";
}
#main .merritt .textList > li .txtList li a {
  padding-right: 25px;
  text-decoration: underline;
  background: url(/img/common/icon08.png) no-repeat right center/18px auto;
}
@media all and (min-width: 897px) {
  #main .merritt .textList > li .txtList li a:hover {
    text-decoration: none;
  }
}
#main .merritt .photoList {
  margin: -33px 0 84px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media all and (max-width: 896px) {
  #main .merritt .photoList {
    margin: -20px 0 50px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
#main .merritt .photoList li {
  margin: 33px 33px 0 0;
  width: 200px;
}
#main .merritt .photoList li:nth-of-type(4n) {
  margin-right: 0;
}
@media all and (max-width: 896px) {
  #main .merritt .photoList li {
    margin: 20px 0 0;
    width: calc((100% - 20px) / 2);
  }
}
#main .merritt .photoList li .pho {
  margin-bottom: 12px;
}
#main .merritt .photoList li p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.44;
  letter-spacing: 0.03em;
  text-align: center;
}
@media all and (max-width: 896px) {
  #main .merritt .photoList li p {
    font-size: 1.4rem;
  }
}
@media all and (max-width: 374px) {
  #main .merritt .photoList li p {
    font-size: 1.2rem;
  }
}
#main .merritt .area .headLine03 {
  margin-bottom: 18px;
}
#main .merritt .area .text {
  margin-bottom: 23px;
}
#main .merritt .area .textDl {
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #B7B7C7;
}
@media all and (max-width: 896px) {
  #main .merritt .area .textDl {
    padding: 0 20px 20px;
    display: block;
  }
}
#main .merritt .area .textDl dt {
  width: 205px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  color: #1B519F;
  font-size: 1.8rem;
  font-weight: 700;
  letter-spacing: 0.03em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
#main .merritt .area .textDl dt::before {
  width: 1px;
  height: calc(100% - 28px);
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: #B7B7C7;
  content: "";
}
@media all and (max-width: 896px) {
  #main .merritt .area .textDl dt {
    padding: 20px 0;
    width: auto;
    display: block;
    text-align: center;
  }
  #main .merritt .area .textDl dt::before {
    width: 100%;
    height: 1px;
    left: 0;
    top: auto;
    bottom: 0;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
#main .merritt .area .textDl dd {
  padding: 22px 19px 21px 34px;
  width: calc(100% - 150px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media all and (max-width: 896px) {
  #main .merritt .area .textDl dd {
    padding: 20px 0 0;
    width: auto;
    display: block;
  }
}
#main .merritt .area .textDl dd p {
  margin-top: -4px;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.69;
}
@media all and (max-width: 896px) {
  #main .merritt .area .textDl dd p {
    margin: 0 0 30px;
    width: auto;
    font-size: 1.4rem;
  }
}
#main .merritt .area .textDl dd .comBtn02 {
  width: 100%;
  max-width: 232px;
}
#main .merritt .area .textDl dd .comBtn02 a {
  padding: 16px 20px;
}
#main .merritt .area .textDl dd .comBtn02 a::after {
  width: 15px;
  height: 15px;
  position: absolute;
  left: 40px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: url(/img/common/icon08.png) no-repeat center center/cover;
  content: "";
}
#main .merritt .area .imgBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 50px;
}
#main .merritt .area .imgBox .photoBox {
  width: 45%;
}
@media all and (max-width: 896px) {
  #main .merritt .area .imgBox .photoBox {
    width: 100%;
  }
}
#main .merritt .area .imgBox .textBox {
  width: 55%;
  padding: 0 0 0 35px;
}
@media all and (max-width: 896px) {
  #main .merritt .area .imgBox .textBox {
    width: 100%;
    padding: 0;
  }
}