/*------------------------------------------------------------
	policy
------------------------------------------------------------*/
#conts {
  margin-top: -3px;
  font-size: 1.6rem;
  line-height: 1.9375;
}
#conts p {
  margin-bottom: 56px;
}
#conts p.text01 {
  margin-bottom: 23px;
}
#conts .textList {
  margin-bottom: 56px;
}
#conts .textList li {
  padding-left: 12px;
  position: relative;
}
#conts .textList li:not(:last-child) {
  margin-bottom: 23px;
}
#conts .textList li::before {
  width: 4px;
  height: 4px;
  position: absolute;
  left: 0;
  top: 12px;
  border-radius: 50%;
  background: #302F31;
  content: "";
}
@media all and (max-width: 896px) {
  #conts {
    margin-top: -3px;
    font-size: 1.4rem;
    line-height: 1.7;
  }
  #conts p {
    margin-bottom: 30px;
  }
  #conts p.text01 {
    margin-bottom: 20px;
  }
  #conts .textList {
    margin-bottom: 30px;
  }
  #conts .textList li {
    padding-left: 10px;
  }
  #conts .textList li::before {
    width: 3px;
    height: 3px;
    top: 9px;
  }
}